.form-header {
  color: var(--primary-color);
  padding: 15px;
}
.form {
  background: var(--fifth-color);
  color: #fff;
  width: 100%;
  height: auto;
  display: flex;
  border-radius: 8px;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  margin-bottom: 50px;
}
.form .MuiTextField-root {
  width: 90%;
  margin-bottom: 15px;
}
.proof {

  width: 100%;
  margin-left: 35px;
  margin-bottom: 20px;
}
.price {
  max-width: 100px;
}

.form h3 {
  margin-top: 10px;
  width: 100%;
  text-align: start;
  padding-left: 30px;
}

.form h3::before {
  content: "";
  display: block;
  width: 100%;
  margin-left: -15px;
  margin-right: auto;
  margin-bottom: 10px;
  border-bottom: 2px solid rgb(181, 181, 181);
}
.category {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.checkbox-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.promotion-day {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.all-day {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.form .hours {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.form .hours .MuiTextField-root {
  width: 40%;
  padding-left: 15px;
  padding-right: 15px;
}

.error {
  padding: 5px;
}
.error-text {
  color: #d32f2f;
}

.errorCheckbox .MuiCheckbox-colorPrimary.Mui-checked {
  color: #d32f2f;
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
  .form-content {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
