:root {
  --primary-color: #E384FF;
  --secondary-color: #865DFF;  
  --accent-color: #191825;
  --fourth-color: #FFA3FD;
  --fifth-color: #28254c ;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--accent-color);
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  margin: 0;
  padding: 0;
}

/*import css */
@import "./Components/Header/Header.css";
@import "./Components/Promotions/Promotions.css";
@import "./Components/Home/Home.css";
@import "./Components/Table/Table.css";
@import "./Components/Form/Form.css"